<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="content">

  <div class="position-absolute top-50 start-50 translate-middle w-50">
    <div align="center">
    <h1 class="display-5 fw-bold">Анализатор страниц</h1>
    </div>
    <form action="/urls" method="post">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Ссылка" aria-label="url"
               aria-describedby="button-addon2" name="url" required autofocus autocomplete="off">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Проверить</button>
      </div>
    </form>
  </div>
</section>
</html>
